@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" style="color:white !important;font-size:12px;padding-bottom:0;">Përshëndetje, @context.User.Identity.Name.Split('@')[0] !</a>
       <br />
        @*<a href="authentication/profile" class="pr-5" style="color:white !important;font-size:12px;padding-bottom:0;"> Profili </a>*@
        <a href="/myprofile" class="pr-5" style="color:white !important;font-size:12px;padding-bottom:0;"> Profili </a>
         <a @onclick="BeginSignOut" style="color:white !important;font-size:12px;" > Shkycu </a>
        @*<button class="nav-link btn btn-link" style="color:white !important;font-size:12px;" @onclick="BeginSignOut">Log out</button>*@
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" style="color:white !important;font-size:12px;">Regjistrohu</a><br />
        <a href="authentication/login" style="color:white !important;font-size:12px;" >Kycu</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
